<!DOCTYPE html>
<html ng-app="angularApp">
<head>
    <meta charset="UTF-8">
    <title>AngularApp</title>
    <link rel="stylesheet" href="public/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="js/lib/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/indexCtrl.js"></script>
    <script src="js/controllers/listCtrl.js"></script>
    <script src="js/controllers/addCtrl.js"></script>
    <script src="js/directives/customList.js"></script>
    <script src="js/filters/customFilter.js"></script>
    <script src="js/services/customService.js"></script>
</head>
<body>
<div ng-controller="indexCtrl" class="wrap">
    <div class="page-header">
        <h1 ng-style="headstyle">AngularApp</h1>
    </div>
    <div ng-class="addform" ng-controller="addCtrl" class="form-inline">
        <form name="addForm">
            <div class="form-group">
                <div class="col-md-8">
                    <input class="form-control" ng-model="new.name" placeholder = "Name" required/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-8">
                    <input class="form-control" ng-model="new.desc" placeholder = "Desc" required/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <input type="text" class="form-control" ng-model="new.price" placeholder="Price" required ng-pattern="/\d/"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <button class="btn btn-default" ng-click="addItem(new, addForm)">Add</button>
                </div>
            </div>
        </form>

    </div>
    <label><input type="checkbox" ng-model="desc">Show/Hide</label>
    <div ng-hide="desc" class="alert alert-success">Description AngularApp</div>

    <table ng-controller="listCtrl" class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Desc</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-class-even="dark" ng-repeat="item in list.items | orderBy: 'price'">
            <td>{{item.name | uppercase}}</td>
            <td>{{item.desc | customFilter}}</td>
            <td>{{item.price | number:5}}</td>
        </tr>
        </tbody>
    </table>
    <div custom-list></div>
</div>
</body>
</html>