<table ng-controller="listCtrl" class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Desc</th>
        <th>Price</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-class-even="dark" ng-repeat="item in list.items">
        <td>{{item.name | uppercase}}</td>
        <td>{{item.desc | customFilter}}</td>
        <td>{{item.price | number:5}}</td>
        <td><button class="btn btn-danger" ng-click="deleteItem(item.name)">Delete</button></td>
    </tr>
    </tbody>
</table>